/*RESETS*/
/*Basic styling for body*/
body{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Styling for game canvas*/
canvas{
    /*will add this back in later for mobile*/
    /*width: 100%;*/
    /*temporary holder for now*/
    width: 400;
    height:400;
    box-shadow: grey 20px 20px 50px;
}