
@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&family=Syne&display=swap');


/*RESETS*/
body{
	margin: 0;
	padding: 0;
	border: 0;
  overflow-x: hidden;
}

/*Root vars*/
body{
  --bg: #e1f0f7;
  --blck: #18191a;
  --grn: #3bedb7;
  --hover: #bb86fc;
  
}

body.dark-mode {
  --blck: #3bedb7;
  --bg: #18191a;
}

/*Basic styling for body*/
body{
    display: grid;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    color: var(--blck);
    font-family: 'Syne', sans-serif;
    width: 100%; 
    height: 100%; 
}




/*Styling for game canvas*/
canvas{
    border: 3px groove var(--blck);
    max-width: 100%;
}

/*CLASSES*/
section {
    display: grid;
    justify-content: center;
    align-items: center;
}

/*grid class to at 6 colulmns*/
.grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

/*styling for logo in the header*/
.grid img {
    max-width: 100%;
}
/*styling for site name in the header*/
.grid h1 {
  display: grid;
  align-items: end;
  grid-column: 2/6;
  font-family: 'Mrs Sheppards', cursive;
  font-size: 4em;
  justify-content: center;
  color: var(--grn);
  text-shadow: 5px 5px 0 #18191A  , 10px 10px 0 var(--hover);
}

/*Dark Theme slider*/


.switch {
    position: relative;
    display: flex;
    max-width: 4em;
    height: 2em;
    grid-column: 6/7;
    margin-top: 15px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: grab;
    height: 1.8em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    cursor: grabbing;
    content: "";
    height: 1.5em;
    width: 1.5em;
    left: 4px;
    bottom: 3px;
    background-color: var(--bg);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--grn);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--grn);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*styling for social icons in footer*/
.icons{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 2em;
    padding-top: 1.3em;
  }


.fa-brands{
  color: var(--grn);
  
}

.fa-brands:hover{
  color: var(--hover);
}

/*styling for copyright*/
.copyright {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
    color: var(--blck);
}

/**/
#game-canvas{
  padding: 1em;
}

/*Modal styling*/
#modal-container{
  padding-top: 1em;
}


#myModal{
    display: none;
    position: absolute;
    z-index: 1;
    padding: 11em 2.1em 0em 0em;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
}

#myModal div{
    background-color:var(--grn);
    margin: auto;
    padding: 1em;
    border: 1px solid black;
    width: fit-content;
    /*set maually as don't want to change on dark mode*/
    color: #010101;
  }

#closeModal{
    color: #ff6961 ;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
  color: #aaa196;
  text-decoration: none;
  cursor: pointer;
}

/*Modal button styling*/
.button{
  background-color: var(--grn);
  color:var(--blck);
  padding: 0.5em 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border: black 1px solid;
  border-radius: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: cursor;
  }

  .button {
    background-color:  var(--bg); 
    color: var(--grn); 
    border: 2px solid var(--grn);
  }
  
  .button:hover {
    background-color: var(--grn);
    color: var(--hover);
  }

  /*Overlay for username onload*/
  #overlay{
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50,128,128, 0.5);
    color: #ffffff;
    z-index: 0;
    cursor: pointer;
    text-align: center;
    font-size: 3em;
  }
/* username display message positioning*/
  #usernameMessage{
    display: flex;
    justify-content: center;
    padding: 200px 0px;
  }
/* mute button styling */
  #mute-button{
    color: var(--hover);
    font-size: 1.3em;
  }



  /* For tablets and up */
@media only screen and (min-width: 768px) {

.body-grid{
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

#cont-2 {
grid-column: 2/6;
}

#overlay{
  left:0;
}
#cont-1{
  grid-column: 1/2
}

#cont-3{
  grid-column: 6/7
  
}

#cont-1, #cont-3{
  background: var(--hover);
  width: 100%;
  height: 100%;
}

#myModal div{
  padding: 10px;   
}

.icons{
  padding-left: 25%;
  padding-right: 25%;
}

}

 