/*RESETS*/
*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
}

/*Basic styling for body*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Styling for game canvas*/
canvas{
    box-shadow: grey 20px 20px 50px;
    max-width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.grid img {
    max-width: 100%;
    grid-column: 1/2;
}

.grid h1 {
    grid-column: 2/4;
    display: flex;
    align-items: flex-end;
}

.icons{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.5em;
    padding-top: 1.3em;
}

/*Modal styling*/
#myModal{
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 5em;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#myModal div{
    background-color: #C1E1C1;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
  }

#closeModal{
    color: #ff6961 ;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
  color: #aaa196;
  text-decoration: none;
  cursor: pointer;
}